<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>상명 데이터 청년 캠퍼스 주식 프로젝트</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline", method="GET" action="{% url 'home' %}">
<!--        csrf_token은 웹의 취약점을 위해 만든 보안장치
-->
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="ticker">
<!--        search 버튼을 누르면 url 'home'으로 가게되고, ticker라는 이름으로 views.home에서 사용 가능
-->
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>


    {% block content %}
    {% endblock %}

    <!--  템플릿 태그에 대한 설명 -->

    <!-- 지정된 값에 대한 표현 {{a}}
    views에서 값을 받아서 a에 저장하면 {{a}}형태로 사용할 수 있음-->

    <!-- {% 얘네는 용도가 많다.(에러가 나서 밑에 %는 생략) -->

    <!-- { url 'home' }은 url 파일에서 home을 불러오라는 의미-->

    <!-- { for i in list % 와 같이 html안에서도 for 문을 쓸 수 있다.-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
